# ========== BOT WHATSAPP ==========
ADMIN_NUMBER=221778552550
BOT_NAME=Ceebu Touba Bot
WAVE_ACCOUNT=77 855 25 50
ORANGE_MONEY=77 855 25 50
NODE_ENV=production

# ========== PAYTECH (Optionnel) ==========
PAYTECH_API_KEY=your_api_key
PAYTECH_API_SECRET=your_api_secret
FRONTEND_URL=https://your-domain.com
